<footer class="bg-[#272829]">
  <section class="p-4 lg:p-16">
    <div
      class="grid md:grid-cols-4 grid-cols-1 gap-10 justify-center items-center md:justify-start"
    >
      <div class="flex flex-col gap-4">
        <img src="../../../assets/yokaifilm-white.webp" class="max-w-[350px]" alt="" />
        <p class="text-white">
          Here , write the complete address of the Registered office address
          along with telephone number.
        </p>
        <div class="flex gap-2 items-center text-white">
          <a href="" class="hover:text-red-600 duration-300 cursor-pointer">
            <i-tabler name="brand-twitter"></i-tabler>
          </a>
          <a href="" class="hover:text-red-600 duration-300 cursor-pointer">
            <i-tabler name="brand-facebook"></i-tabler>
          </a>
          <a href="" class="hover:text-red-600 duration-300 cursor-pointer">
            <i-tabler name="brand-instagram"></i-tabler>
          </a>
          <a href="" class="hover:text-red-600 duration-300 cursor-pointer">
            <i-tabler name="brand-youtube"></i-tabler>
          </a>
        </div>
      </div>
      <ul class="text-white">
        <li class="uppercase font-bold text-md">Display Type</li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">Action</li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">Comedy</li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">Drama</li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">Horror</li>
      </ul>
      <ul class="text-white">
        <li class="uppercase font-bold text-md">Production</li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">
          2018 Year
        </li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">
          2019 Year
        </li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">
          2020 Year
        </li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">
          2021 Year
        </li>
      </ul>
      <ul class="text-white">
        <li class="uppercase font-bold text-md">Display Quality</li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">
          720p HDTV
        </li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">
          1080p BluRay
        </li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">
          720p BluRay
        </li>
        <li class="hover:text-red-600 duration-300 cursor-pointer">
          1080p WEB-DL
        </li>
      </ul>
    </div>
  </section>
</footer>
