<section class="p-4 lg:p-16">
  <app-card-movies [movies]="movies"></app-card-movies>

  <div class="flex justify-center mt-4">
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="px-4 py-2 bg-gray-300 rounded-l"
    >
      Anterior
    </button>
    <!-- Input para cambiar a una página específica -->
    <input
      type="number"
      [(ngModel)]="pageInput"
      min="1"
      [max]="totalPages"
      class="px-4 py-2 border rounded"
      (keydown.enter)="goToPage()"
      placeholder="Página"
    />
    <span class="px-4 py-2 bg-gray-100"
      >{{ currentPage }} de {{ totalPages }}</span
    >
    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
      class="px-4 py-2 bg-gray-300 rounded-r"
    >
      Siguiente
    </button>
  </div>
</section>
