<div *ngIf="movies.length > 0" class="">
  <div
    class="grid w-full grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] mx-auto gap-x-4 gap-y-8 px-4 place-items-center"
  >
    <div
      class="flex flex-col gap-2 cursor-pointer"
      *ngFor="let movie of movies; let i = index"
      [routerLink]="['/explore/detail-movies', movie.id]"
    >
      <div class="max-w-[300px]">
        <figure class="rounded-lg inline-block max-w-max">
          <img
            class="rounded-lg sm:w-full object-cover"
            [src]="
              movie.poster_path
                ? 'https://image.tmdb.org/t/p/w300' + movie.poster_path
                : movie.backdrop_path
                ? 'https://image.tmdb.org/t/p/w300' + movie.backdrop_path
                : movie.profile_path
                ? 'https://image.tmdb.org/t/p/w300' + movie.profile_path
                : 'assets/no-poster.png'
            "
            [alt]="'Poster of ' + movie.title"
          />
        </figure>

        <div>
          <p class="text-lg font-bold uppercase line-clamp-1 text-white">
            {{ movie.title || movie.name || movie.original_name }}
          </p>
          <p class="text-[#a3a3a3]">
            {{
              movie.release_date
                ? (movie.release_date | date : "MMM dd, yyyy")
                : movie.first_air_date
                ? (movie.first_air_date | date : "MMM dd, yyyy")
                : "No Date Available"
            }}
          </p>
          <div class="flex gap-2">
            <p
              *ngFor="let genreId of movie.genre_ids"
              class="text-[#a3a3a3] text-xs truncate"
            >
              {{
                movie.genre_ids && movie.genre_ids.length > 0
                  ? getGenreName(genreId)
                  : "No Genre"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
